---
import BaseHead from '../components/BaseHead.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteNav from '../components/SiteNav.astro';
import WorkImage from '../components/WorkImage.astro';
import { SITE } from '../config';

let { title } = SITE;
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';

let allWorks = await Astro.glob('./works/*.md');
allWorks = allWorks.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />

		<style>
			.wrapper {
				overflow-y: scroll;
				overflow-x: hidden;
				position: fixed;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}
			.works-list {
				align-content: space-between;
				display: flex;
				flex-flow: column wrap;
				height: 1400px;
			}
			.works-list::before,
			.works-list::after {
				content: '';
				flex-basis: 100%;
				width: 0;
				order: 2;
			}
		</style>
	</head>

	<body>
		<SiteHeader />
		<SiteNav />
		<main class="wrapper">
			<section class="works-list" aria-label="Works list">
				{allWorks.map((w) => <WorkImage work={w} />)}
			</section>
		</main>
	</body>
</html>
