---
import SiteNavLink from './SiteNavLink.astro';
---
<nav class="wrapper">
	<ul>
		<li>
			<SiteNavLink href="/">Works</SiteNavLink>
		</li>
		<li>
			<SiteNavLink href="/info">Info</SiteNavLink>
		</li>
	</ul>
</nav>

<style>
	nav {
		padding-top: 1rem;
		padding-bottom: 1rem;
		height: 5rem;
	}
</style>
