---
import { SITE } from '../config';
---
<header class="wrapper">
	<article>
		<h1>
			<a href="/">
				<span>{SITE.title}</span>
			</a>
		</h1>
	</article>
</header>

<style>
	header {
		position: fixed;
		z-index: 999;
	}
</style>
