---
import SiteNavLink from './SiteNavLink.astro';
---
<nav class="wrapper">
	<ul>
		<li>
			<SiteNavLink href="/">Works</SiteNavLink>
		</li>
		<li>
			<SiteNavLink href="/info">Info</SiteNavLink>
		</li>
	</ul>
</nav>

<style>
	nav {
		left: 50px;
		position: fixed;
		top: 100px;
		z-index: 999;
	}
</style>
